nav.navbar {
  padding: 5px 0;
  margin-bottom: 0;
  background-color: #edeceb;
  border-bottom: 2px solid #ffffff;
  .container {
    .nav-options-wrap {
      .create-your-story-wrapper {
        position: relative;
        display: inline-block;
        .create-story-dropdown {
          line-height: 27px;
          color: #4a4a49;
          font-weight: 400;
        }
      }
    }
  }
}
