nav.navbar {
  padding: 5px 0;
  margin-bottom: 0;
  background-color: #edeceb;
  border-bottom: 2px solid #ffffff;
  .container {
    .nav-options-wrap {
      .create-your-story-wrapper {
        position: relative;
        display: inline-block;
        .create-story-dropdown {
          line-height: 27px;
          color: #4a4a49;
          font-weight: 400;
        }
      }
      .nav-my-contacts {
        background: none;
        font-size: 20px;
        border: none;
        padding: 0;
        width: 55px;
        height: 65px;
        line-height: 0;
        vertical-align: middle;
        & > span {
          width: 33px;
          height: 33px;
          display: inline-block;
        }
      }
      .nav-upload-gallery {
        background: none;
        font-size: 20px;
        border: none;
        padding: 0;
        width: 55px;
        height: 55px;
        line-height: 0;
        vertical-align: middle;
        &>span {
          width: 35px;
          height: 35px;
          display: inline-block;
          margin-top: 3px;
        }
      }
      .notification-toggler {
        vertical-align: middle;
        position: relative;
        height: 60px;
        line-height: 60px;
        width: 45px;
        display: inline-block;
        .navbar-notifications {
          font-size: 28px;
          line-height: 60px;
          padding: 0 10px 0;
          height: 60px;
          color: #2592DE;
          margin-right: 20px;
          position: relative;
          background-color: transparent;
          box-shadow: none;
          border: none;
          &:hover {
            background-color: transparent;
            box-shadow: none;
            border: none;
          }
          .count {
            width: 20px;
            height: 20px;
            font-size: 12px;
            font-weight: bold;
            color: #2592DE;
            display: block;
            background: #fff;
            padding: 3px;
            border-radius: 10px;
            line-height: 14px;
            text-align: center;
            position: absolute;
            top: 12px;
            right: 6px;
          }
        }
      }
    }
  }
}
